*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --clr-background: #fcf9ec;
  --clr-text: #0d0221;
}

html,
body {
  height: 100%;
}

body {
  position: relative;
  background-color: var(--clr-background);
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  line-height: 1.618;
  color: var(--clr-text);
  padding: 10% 5%;
  display: grid;
  place-items: center;
}

h3 {
  font-weight: bold;
  line-height: 1.2;
}

.btn {
  font-family: inherit;
  background: var(--clr-text);
  color: var(--clr-background);
  border: none;
  border-radius: 10px;
  font-size: 1.25em;
  padding: 0.5em 1.5em;
  box-shadow: 0px 5px 30px 0 rgba(0, 0, 0, 0.3);
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:active {
    transform: scale(0.98);
  }
}

.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;

  &.open {
    visibility: visible;
  }

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 900;
  }

  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 600px;
    font-size: 1rem;
    text-align: left;
    background-color: #fff;
    padding: 1em 2em;
    border-radius: 10px;
    box-shadow: 0px 20px 30px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    z-index: 1000;

    &__header,
    &__footer {
      padding: 1em 0;
    }

    &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .title {
        font-size: 1.5em;
      }

      .close {
        text-decoration: none;
        color: var(--clr-text);
        font-weight: bold;
        font-size: 1.5em;
        padding: 0.25em 0.5em;
        cursor: pointer;
      }
    }

    &__body {
      .content {
        font-size: 1.1em;

        &:not(:first-of-type) {
          margin-top: 0.25em;
        }
      }
    }

    &__footer {
      .credits {
        font-size: 0.9em;
      }
    }
  }
}
